body{
	padding: 0;
	margin: 0;
}
html, body, #mapid{
	height: 100%;
	width: 100%;
}

#baseMT{
	top: 1%;
	left: 90%;
	z-index: 1000;
	position: relative;
}

#respondingBar{
	background-color: blue;
	width: 100%;
	position: absolute;
	bottom: 0%;
	display:table-cell;
 vertical-align:middle;
	z-index: 1001;	
}

.buttons{
	position: absolute;
	bottom: 10%;
	height: 100%;
	width: 50%;
	line-height: 300%;
	font-family: Trebuchet MS;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	z-index: 1002;	
}
#SOS{
	left: 0%;
	background-color: #ff8000;
}
#SOS:hover{
	background-color: #ffb366;
}
#attended{
	right: 0%;
	background-color: green;
}
#attended:hover{
	background-color: #00ff00;
}
.buttons:active{
	background-color:black;
}


.leaflet-retina .leaflet-control-layers-toggle {
	background-image: url(layers-2x.png);
	background-size: 26px 26px;
	}